.flex{
    display: flex;
}
.item-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}
.marg2{
    margin: 0px 10px;
}